---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  misc-*

WarningsAsErrors: ''
HeaderFilterRegex: 'include/feed_handler/.*'
FormatStyle: file
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: 'true'
...
